.item {
    list-style: none;
    font-size: 16px;
}

.name {
    text-align: left;
    margin: 0;
    white-space: nowrap;
}

.quantity {
    font-weight: bold;
    padding-right: 4px;
    float: left;
}

